.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 50px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header{
    display: flex; 
}

.header__title{
    margin-left: 35px;
}
.header_info{
    padding-left: 50px;
}

/*картинка не является квадратной изначально, необходимо добавлять object-fit в таких случаях*/
.photo{
    width: 320px;
    height: 320px;
}

/*не все элементы списка должны иметь соответствующие стили,*/
/*это будет первым местом для рефакторинга в случае усложнения проекта*/
/*и появления другого варианта списка*/
li{
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}
